:root {
  --bg: #010101;
  --primary: #0d969b;
  --second: #006a85;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}
body {
  font-family: poppins, sans-serif;
  background-color: var(--bg);
  color: white;
}
html {
  scroll-behavior: smooth;
}

/* ===== HOME PAGE ===== */
/* Navbar */
.navbar {
  position: fixed;
}
.navbar {
  display: flex;
  background-color: rgba(1, 1, 1, 0.8);
  padding: 3rem;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--second);
  border-top: 1px solid var(--second);
  font-size: 23px;
  z-index: 1000;
}
.navbar .navbar-items a {
  margin: 0 1rem;
}
.navbar .judul {
  font-size: 30px;
  cursor: default;
  font-style: italic;
  font-weight: bold;
}
.navbar a {
  color: white;
}
.navbar .navbar-items a:hover {
  color: var(--second);
}

/* Hero Section */

.hero {
  background-image: url("../img/rahul-mishra-o4SzxPgMwV8-unsplash.jpg");
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
  margin-bottom: 5rem;
}
.hero .content h1 {
  color: var(--primary);
  text-shadow: 1px 1px 1px white;
}
.hero .content {
  position: fixed;
  top: 15rem;
  font-size: 2.5rem;
  text-align: center;
  font-weight: bolder;
}
.hero .content p {
  margin-top: 1.2rem;
  font-size: 2.3rem;
  font-weight: 500;
  color: whitesmoke;
  font-weight: lighter;
  padding: 50px;
}

/* Hero Section-2 */

.hero-2 {
  align-items: center;
  text-align: center;
}
.hero-2 h1 {
  margin-bottom: 5rem;
  font-size: 5rem;
  font-style: italic;
  color: var(--second);
  text-shadow: 1px 1px 1px white;
}
.hero-2 .img-judul img {
  width: 30rem;
  border-radius: 30%;
  border: 2px solid var(--second);
}
.hero-2 .img-isi img:hover {
  opacity: 0.5;
}
.hero-2 .img-isi .gambar {
  width: 17rem;
  margin: 8rem 5rem;
}
.hero-2 .isi-text {
  font-size: 2rem;
  padding: 50px;
}
.hero-2 .isi-text .html {
  color: red;
}
.hero-2 .isi-text .css {
  color: blue;
}
.hero-2 .isi-text .php {
  color: rgb(68, 16, 165);
}
.hero-2 .isi-text .js {
  color: yellow;
}
/* CONTACT */
.contact-section {
  width: 100%;
  padding: 10rem 10rem;
  background: linear-gradient(#0d969b, #0d969b) padding-box, linear-gradient(145deg, transparent 40%, #010101, #006a85) border-box;
  border: 2px solid transparent;
  display: flex;
  font-size: 14px;
  flex-direction: column;
  border-radius: 16px;
  gap: 20px;
}
.contact-section h1 {
  font-size: 5rem;
  color: var(--second);
  text-shadow: 1px 1px 1px white;
}
.contact-section .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.contact-section button:active {
  scale: 0.8;
}
.contact-section .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.contact-section .form-group label {
  display: block;
  margin-bottom: 1.7rem;
  font-weight: 600;
  font-size: 1.6rem;
}
.contact-section .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #efefef;
}
.contact-section .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 10rem;
  border: 1px solid #efefef;
  background-color: transparent;
}
.contact-section .form-group input::placeholder {
  opacity: 0.95;
}
.contact-section .form-group input:focus {
  outline: none;
  border-color: #0011ff;
}
.contact-section .submit {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  color: #efefef;
  font-weight: 700;
  width: 25%;
  background: var(--second);
  border: 1px solid #efefef;
  padding: 6px 16px;
  gap: 10px;
  margin-top: 1.5rem;
  cursor: pointer;
  border-radius: 6px;
}
.contact-section .submit:hover {
  background-color: #0d103d;
}
/* copyright */
footer .copyright {
  position: relative;
  font-size: 1.4rem;
  padding: 2.5rem;
  background-color: var(--second);
  margin-top: 4rem;
  bottom: 0;
  text-align: center;
}
/* MEDIA QUERIES */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }
  .navbar-items {
    display: none;
  }
}
/* Mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
